.connection-status {
  $c: &;
  display: inline-block;
  font-size: 1em;
  height: 1em;

  &-info {
    display: inline-block;
    font-size: 1em;
    font-family: monospace;
    font-weight: bold;
    margin-right: 0.3em;
  }

  &-indicator {
    display: inline-block;
    width: .7em;
    height: .7em;
    border-radius: 100%;

    box-shadow: 0 0 4px rgba(255, 255, 255, 0.29);

    #{$c}--disconnected & {
      background-color: rgba(255, 0, 0, 0.93);
      border: 1px solid rgba(60, 21, 66, 0.68);
    }

    #{$c}--connected & {
      background-color: rgba(0, 255, 5, 0.690196);
      border: 1px solid rgba(17, 30, 93, 0.59);
    }
  }
}
