$spread: 60deg;
$radius: 540px;

@function pow($number, $exponent) {
  $value: 1;

  @if $exponent > 0 {
    @for $i from 1 through $exponent {
      $value: $value * $number;
    }
  }

  @return $value;
}

.hand {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  bottom: 0;

  &-slot {
    display: block;
    position: absolute;
    z-index: 1;
    bottom: -$radius / 2;
    transform: translateX(-50%);
    left: 50%;
    transition: transform .2s cubic-bezier(0.1, 0.65, 0.58, 1.02);

    &-extender {
      position: absolute;
      left: 50%;
      transform: translate(-50%);
      height: $radius;
      bottom: 0;
      padding-top: 50px;

      transition: transform 120ms cubic-bezier(0.42, 0.48, 0.53, 1.29);

      &:hover {
        transform: translate(-50%, -60px);
      }
    }

    @for $i from 2 through 12 {
      &:first-child:nth-last-child(#{$i}),
      &:first-child:nth-last-child(#{$i}) ~ .hand-slot {
        @for $j from 1 through $i {
          &:nth-child(#{$j}) {
            $offset: $spread / $i;
            $r: $offset * ($j) - ($spread / 2) - ($offset / 2);
            transform: translateX(-50%) rotateZ($r);
          }
        }
      }
    }
  }
}
