$ratio: 3.5 / 2.4;

.card {
  $this: &;

  position: relative;
  display: inline-block;
  width: 240px;
  height: 320px;
  color: #fff;
  box-shadow:
    5px 5px 8px 2px rgba(42, 29, 47, 0.36),
    4px 6px 3px 1px rgba(42, 29, 47, 0.36);

  background-color: #000;
  border: 2px solid #130210;
  border-radius: 12px;

  max-width: 240px;
  max-height: 240px * $ratio;
  width: 20vw;
  height: 20vw * $ratio;
  overflow: hidden;

  cursor: pointer;
  cursor: -webkit-grab;

  transition: transform .15s ease-in-out;

  &-attributes {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    padding: 4px;
  }

  &-attribute {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 4px;
    font-family: 'Libre Baskerville', Georgia, 'Times New Roman', Times, serif;
    border-radius: 100%;
    border: 4px solid transparent;
    color: rgb(255, 255, 255);
    width: 40px;
    height: 40px;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.445);
    box-shadow:
      0px 0px 5px #011419,
      2px 2px 4px rgba(255, 255, 255, 0.452) inset;
    font-size: 125%;
    font-weight: 700;

    &--value {
      background-color: goldenrod;
      border-color: rgb(160, 120, 19);
      color: rgb(90, 70, 18);
    }

    &--attack {
      background-color: tomato;
      border-color: rgb(202, 75, 53);
      color: rgb(124, 44, 30);
    }

    &--defense {
      background-color: slategray;
      border-color: rgb(52, 67, 82);
      color: rgb(16, 39, 63);
    }
  }

  &-header {
    position: absolute;
    bottom: 32px;
    width: 100%;
    font-size: 1.3rem;
    text-shadow: 2px 1px 4px #2e363e;
    background-color: rgba(45, 10, 10, 0.58);
    padding: 8px;
  }

  &-description {
    padding: 8px;
  }

  &-cost {
    position: absolute;
    right: 0;
    top: 0;
    padding: 4px;
    color: #fff;
  }

  &-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 2;
    background-color: rgba(42, 44, 45, 0.29);
  }

  &-curtain {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 4;
    background-color: rgba(109, 36, 36, 0.71);
  }

  &-background {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    height: 100%;
    overflow: hidden;

    & > img {
      height: 100%;
    }
  }
}
