$ratio: 3.5 / 2.5;

.card {
  $this: &;

  position: relative;
  display: inline-block;
  width: 130px;
  height: 130px * $ratio;
  color: #fff;

  box-shadow:
    0 2px 2px 0 rgba(0,0,0,0.14),
    0 1px 5px 0 rgba(0,0,0,0.12),
    0 3px 1px -2px rgba(0,0,0,0.2);

  &--dragging {
    box-shadow:
      0 8px 10px 1px rgba(0,0,0,0.14),
      0 3px 14px 2px rgba(0,0,0,0.12),
      0 5px 5px -3px rgba(0,0,0,0.3);
  }

  background-color: #000;
  // border: 1px solid #5a5a5a;
  border-radius: 5%;

  max-width: 130px;
  max-height: 130px * $ratio;
  width: 20vw;
  height: 20vw * $ratio;
  overflow: hidden;

  cursor: pointer;

  &--draggable {
    cursor: -webkit-grab;
  }

  transition:
    transform .15s ease-in-out,
    box-shadow 0.3s cubic-bezier(.25,.8,.25,1);

  &-attributes {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    padding: 4px;
    background-color: rgba(214, 214, 214, 0.361);
  }

  &-header {
    width: 100%;
    font-size: .7rem;
    background-color: rgba(70, 84, 97, 0.4);
    color: #fff;
    text-align: center;
    text-transform: capitalize;
  }

  &-description {
    padding: 8px;
  }

  &-cost {
    position: absolute;
    right: 0;
    top: 0;
    padding: 4px;
    color: #fff;
  }

  &-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 2;
    // background-color: rgba(42, 44, 45, 0.29);
  }

  &-curtain {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 4;
    background-color: rgba(181, 43, 43, 0.29);
  }

  &-background {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    height: 100%;
    overflow: hidden;

    & > img {
      height: 100%;
    }
  }
}
