.connection-status {
  $c: &;
  position: absolute;
  top: 8px;
  right: 8px;

  &-indicator {
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 100%;

    box-shadow: 0 0 4px rgba(255, 255, 255, 0.29);

    #{$c}--disconnected & {
      background-color: rgba(255, 0, 0, 0.93);
      border: 1px solid rgba(60, 21, 66, 0.68);
    }

    #{$c}--connected & {
      background-color: rgba(0, 255, 5, 0.690196);
      border: 1px solid rgba(17, 30, 93, 0.59);
    }
  }

  &-info {
    position: absolute;
    right: 10px;
    top: 0;
    font-size: 10px;
    line-height: 10px;
  }
}
