@mixin btn-reset() {
  display: inline-block;
  background: none;
  background-color: none;
  border: none;
  box-shadow: none;
  outline: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
  appearance: none;
  touch-action: manipulation;
  text-decoration: none;

  &:focus,
  &:active {
    outline: none;
    box-shadow: none;
  }
}

.btn {
  @include btn-reset;

  padding: 6px 12px;
  font-size: $base-font-size;
  font-weight: 600;
  border-radius: 3px;
  border: 1px solid transparent;
  color: inherit;

  &:focus, &.focus {
    border-color: $secondary;
  }

  &--block {
    display: block;
    width: 100%;
  }

  &--sm {
    font-size: .7rem;
    padding: 2px;
  }

  &--link {
    color: $secondary;
  }

  &--primary {
    background-color: #901f1f;
    border-color: #932121;
    color: #fff;
    background-image: linear-gradient(to left top, rgba(255, 255, 255, 0) 0, #d07a7a 100%);
    box-shadow: 1px 1px 1px #eb7e7e inset;
    text-shadow: 0 0 2px #2b0000;

    &:hover {
      color: #fff;
      background-color: #6b1515;
    }
  }

  &--danger {
    background-color: $btn-danger-background-col;
    border-color: $btn-danger-border-col;
    color: $btn-danger-font-col;
  }

  &--default {
    background-color: $btn-default-background-col;
    border-color: $btn-default-border-col;
    color: $btn-default-font-col;
  }
}
