.container {
  position: relative;
  width: 100%;
  margin: 0 auto;

  padding-left: 15px;
  padding-right: 15px;

  flex: 1 1 auto;

  @include clearfix();

  @include size(sm) {
    width: 500px;
  }

  @include size(md) {
    width: 720px;
  }

  @include size(lg) {
    width: 1012px;
  }

  &--full {
    width: 100%;
  }

  &--mini {
    max-width: 500px;
  }
}
