@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700|Montserrat:500,600,700');
@import 'reset';

* { box-sizing: border-box; }

@import 'variables';
@import 'utilities/clearfix';
@import 'utilities/pull';
@import 'screen';
@import 'containers';
@import 'buttons';
@import 'typography';
@import 'icon';
@import 'forms';

html {
  height: 100%;
}

body {
  height: 100%;
}

#app {
  height: 100%;
}

.title {
  text-transform: uppercase;
  letter-spacing: .1em;
  font-size: $base-font-size;
}
