@import 'reset';

* { box-sizing: border-box; }

@import 'variables';
@import 'utilities/clearfix';
@import 'utilities/pull';
@import 'screen';
@import 'containers';
@import 'buttons';
@import 'typography';
@import 'icon';

body {
  font-family: sans-serif;
}

.title {
  text-transform: uppercase;
  letter-spacing: .1em;
  font-size: 1.2rem;
}
