@import 'reset';

* { box-sizing: border-box; }

@import 'variables';
@import 'clearfix';
@import 'screen';
@import 'containers';
@import 'buttons';
@import 'typography';


body {
  background: steelblue;
  font-family: sans-serif;
}

.title {
  text-transform: uppercase;
  letter-spacing: .1em;
  font-size: 1.2rem;
}
