.page-header {
  z-index: 1;
  padding-top: 12px;
  padding-bottom: 12px;
  color: #444;
  background-color: #FBFBFB;
  border-bottom: 1px solid #EAE9E8;

  &-title {
    font-size: 1.5em;
    margin-top: 7px;
    float: left;
  }
}
